.container__CTA{
  width: 50%;
  margin: 5% auto;
  text-align: center;
}

.paragraph__CTA {
  font-size: 22px;
}

.button__CTA {
  background-color: rgba(240, 56, 15, 1);
  font-weight: 500;
  font-size: 16px;
  border-radius: 150px;
  margin: 5px 5px;
  padding: 1.5% 3%;
  text-align: center;
}

.span__CTA {
  display: none;
}

@media (max-width: 767px) {
  .container__CTA{
    width: 85%;
    margin: 12% auto;
  }
  .paragraph__CTA {
    font-size: 22px;
    font-weight: bold;
  }
  .button__CTA {
    font-weight: bold;
    font-size: 1em;
    padding: 18px 30px 20px 30px;
  }
}